{% extends "base.html" %}



{% block seo -%}
  {{ super() }}

  {%- set og_title = term.name -%}
	
  {% if config.title -%}
    {% set title = term.name ~ " | " ~ config.title -%}
  {% else -%}
    {% set title = term.name -%}
  {% endif -%}

  {% set web_type = "WebPage" -%}

  {% set author = config.extra.author %}
  
  {{ macros::seo(title=title, og_title=og_title, author=author, web_type=web_type) }}
{%- endblock seo %}




{% block content %}
<div class="tags">
	<div class="tags-header">
		<h2 class="tags-header-title">{{ term.name }}</h2>
		<div class="tags-header-line"></div>
	</div>
</div>

<div class="catalogue">
	{% for page in term.pages -%}
		{{ macros::page(page=page) }}
	{%- endfor %}
</div>
{% endblock content %}