* {
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: "Lucida Grande", "Gargi_1.7", Garuda, Jamrul, Loma, Malayalam, "Mukti Narrow", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #444;
    background-color: #FAFAFA;
}

h1, h2, h3,
h4, h5, h6,
.meta {
    color: #222;
    font-family: "Arial Black", Verdana, Tahoma, Helvetica, sans-serif;
    line-height: 1.1em;
}

a, a:visited {
    color: #3A76B6;
    text-decoration: none;
}

a:hover {
    border: none;
    text-decoration: underline;
    color: #0051AA;
}

a:active, a:focus {
    outline-width: 1px;
    outline-style: dotted;
}

h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited,
h4 a, h4 a:visited,
h5 a, h5 a:visited,
h6 a, h6 a:visited {
    color: #2E2E2E;
    text-decoration: none;
}

hr {
    visibility: hidden;
    padding-bottom: 1em; 
}

hr:after,
.page-foot:before {
    visibility: visible;
    content: '\2042';
    display: block;
    text-align: center;
}

article {
    margin-bottom: 1em;
}

article header h2 {
    padding: .1em 0;
    margin: 0;
    font-size: 2em;
}

article header .meta {
    font-size: .9em; 
}

article header .meta a { text-decoration: none; }


.page-head {
    text-align: center;
    padding-top: .5em;
}

.page-head h1 {
    font-size: 4em;
}

.page-head a {
    color: #222;
}

.page-head h1 a:hover {
    text-decoration: none;
}

.page-side {
    line-height: 1.2em;
}

.page-side ul {
    padding: 0 0 0 1.3em;
    margin: .4em 0 .6em .4em;
    list-style-type: square;
}

.page-side li a {
    color: #555;
}

.page-side li.active {
    color: firebrick;
}

.page-side li.active a {
    color: #222;
}

.page-foot {
    font-size: .8em;
    text-align: center;
    border-top: 1px solid gray;
}

.page-foot p {
    margin: 0.2em;
}

.page-foot img {
    margin: 0;
}

.pagination {
    display: block;
    margin-bottom: 4em;
    text-align: center;
}

.tag-cloud li {
    margin: .2em 1em;
}

.tag-cloud li a {
    text-decoration: none;
    color: #222;
}


.tag-cloud li:hover a {
    color: black;
}

h1.small-title {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
}

a.goto {
    font-size: .8em;
    color: #444;
    padding: 0;
    margin: 0em .2em;
}

img, figure, table {
    max-width: 100%;
    margin: 1em auto;
    overflow-x: auto;
}

pre {
    max-width: 100%;
    margin: 1em auto;
}

table td, table th {
    border: 1px solid silver;
    padding: 0 .1em;
}

figure * { border: none; margin: auto; padding: 0; }

figcaption {
    margin-top: 1em;
    font-size: 0.9em;
    font-style: italic;
}

@media screen and (max-width: 550px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 490px) {
    body {
        font-size: 14px;
    }

    .page-head h1 {
        font-size: 2.5em;
    }
}

/* CUSTOM */

svg {
    width:100%;
    height:100%;
}

.no-svg svg:after {
    /* TODO: Make fallback images for SVG */
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: black;
    text-decoration: none;
}

.page {
    margin-top: 2em;
}

.page-body {
    overflow: hidden;
}

.page-main h1 {
    margin-top: 0;
    padding-top: 0;
}

.page-side h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.illustration-label {
    margin-top: 0;
    color: gray;
    font-style: italic;
    font-size: 0.8em;
}

code {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCC;
    border-radius: 2px;
    color: #E00040;
}

blockquote, aside {
  background: #F0F0F0;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

aside {
    background: #E3F6FD;
    border-left-color: #BFD2D9;
}

/* PROJECT PAGE */

.projects {
    display: flex;
    flex-flow: row wrap;
}

.project {
    text-align: center;
    width: 48%;
    margin-left: 1%;
    margin-bottom: 1em;
	border: 1px solid rgb(230, 230, 230);
    padding: 0.5em;
}

.project .languages {
    font-style: italic;
    color: #919191;
    font-size: 0.8em;
}

.project img {
    border: none;
    width: 40%;
    height: auto;
}

@media screen and (max-width: 550px) {
    .project {
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
}

/* SVG chart line */

.chartline{
    stroke: #5695C9;
    stroke-width: 3px;
    fill: none;
}
.chartfill {
    fill: #D0E9FF;
    stroke: none;
}
path {
    stroke-width: 3px;
    fill: none;
}

.iter, .chartline1{
    stroke: steelblue;
}

.recurse, .chartline2{
    stroke: rgb(223, 94, 98);
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
  stroke-width: 2px;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}


/* Boltzmann SVG styles */

svg .particle-arrow {
    fill: red;
    stroke: red;
}

svg .arrow-1 {
    fill: red;
    stroke: red;
}
svg .arrow-2 {
    fill: blue;
    stroke: blue;
}
svg .arrow-3 {
    fill: black;
    stroke: black;
}

svg .triangle {
    fill: black;
    stroke: black;
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #222;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #222;
    text-align: center;
    transition: all 0.2s;
}

button:focus {
    outline: none;
}

button:disabled {
    border: 0.1em solid #888;
    color: #888;
    cursor: not-allowed;
}

button:hover {
    color: #FFFFFF;
    background-color: #444;
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}
