/* vim: set ts=4 sw=4 et: */

@import url(normalize.css);

* {
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: "Lucida Grande", "Gargi_1.7", "Garuda", "Jamrul", "Loma", "Malayalam", "Mukti Narrow", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #444;
    background-color: #FAFAFA;
}

h1, h2, h3,
h4, h5, h6,
.meta {
    color: #222;
    font-family: "Century Schoolbook L", "Georgia", "Nimbus Roman No9 L", "Norasi", "Rekha", serif;
    line-height: 1.1em;
}

hr {
    visibility: hidden;
    padding-bottom: 1em; 
}

hr:after,
#page-foot:before {
    visibility: visible;
    content: '\2042';
    display: block;
    text-align: center;
}

article {
    margin-bottom: 1em;
}

article header h1 {
    padding: .1em 0;
    margin: 0;
}

article header .meta {
    font-size: .9em; 
}

article header .meta a { text-decoration: none; }

article:after {
    content: '\00A7';
    display: block;
    text-align: center;
    font-weight: lighter;
    font-size: 1.5em;
}

article:last-of-type:after {
    content: '';
}


#page-head {
    text-align: center;
    padding-top: .5em;
}

#page-head h1 {
    font-size: 4em;
}

#page-head h1 a:hover {
    text-decoration: none;
}

#page-side {
    line-height: 1.2em;
}

#page-side ul {
    padding: 0 0 0 1.3em;
    margin: .4em 0 .6em .4em;
    list-style-type: square;
}

#page-side li a {
    color: #555;
}

#page-side li.active {
    color: firebrick;
}

#page-side li.active a {
    color: #222;
}

#page-foot {
    font-size: .8em;
    text-align: center;
}

#pagination {
    display: block;
    margin-bottom: 4em;
    text-align: center;
}

#tag-cloud li {
    margin: .2em 1em;
}

#tag-cloud li a {
    text-decoration: none;
    color: #222;
}


#tag-cloud li:hover a {
    color: black;
}

h1.small-title {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
}

a, a:visited {
    color: #4d87c7;
    text-decoration: none;
}

a:hover {
    border: none;
    text-decoration: underline;
    color: #0051AA;
}

a:active, a:focus {
    outline-width: 1px;
    outline-style: dotted;
}

h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited,
h4 a, h4 a:visited,
h5 a, h5 a:visited,
h6 a, h6 a:visited {
    color: #2E2E2E;
    text-decoration: none;
}

a.goto {
    font-size: .8em;
    color: #444;
    padding: 0;
    margin: 0em .2em;
}

pre, img, figure, table {
    margin: 1em auto;
    overflow-x: auto;
}

table td, table th {
    border: 1px solid silver;
    padding: 0 .1em;
}

pre {
    font-family: monospace;
    font-size: 0.95em;
    line-height: 1.15em;
    background-color: #F5F5F5;
    padding: 0.5em;
    max-width: 100%;
}

figure * { border: none; margin: auto; padding: auto; }

@media screen and (max-width: 550px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 490px) {
    body {
        font-size: 14px;
    }

    #page-head h1 {
        font-size: 2.5em;
    }
}

/* CUSTOM */

.no-svg svg:after {
    /* TODO: Make fallback images for SVG */
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: black;
}

#page {
    margin-top: 2em;
}

#page-body {
    overflow: hidden;
}

#page-main h1 {
    margin-top: 0;
    padding-top: 0;
}

#page-side h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.illustration-label {
    margin-top: 0;
    color: gray;
    font-style: italic;
    font-size: 0.8em;
}

/* CODE */

.highlighttable {
    display: block;
    border: none;
    overflow-y:hidden;
}

.highlighttable pre {
    white-space: pre;
    margin: 0;
}

.highlighttable td {
    border: none;
}

.highlighttable .code {
    width: 100%;
}

.highlighttable .linenos {
    color: #f8f8f2;
    padding: 0;
}

code {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCC;
    border-radius: 2px;
    color: rgb(255, 0, 71);
}

blockquote {
  background: #F0F0F0;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* PROJECT PAGE */

.project {
    text-align: center;
    width: 48%;
    margin-left: 1%;
    float: left;
    margin-bottom: 1em;
	border: 1px solid rgb(230, 230, 230);
    padding: 0.5em;
}

.project:nth-child(even) {
    clear: left;
}

.project .languages {
    font-style: italic;
    color: #919191;
    font-size: 0.8em;
}

.project img {
    border: none;
    width: 40%;
    height: auto;
}

@media screen and (max-width: 550px) {
    .project {
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
}
