$for(projects)$
<div class="project">
    <a href="$url$">
        <h3>$title$</h3>
    </a>
    <a href="$url$">
        <img src="/images/$img$" alt="$description$">
    </a>
    <div class="languages">
        $languages$
    </div>
    <div class="summary">
        $summary$
    </div>
</div>
$endfor$