{% if page.extra.katex or section.extra.katex or config.extra.katex %}
<link rel="stylesheet" href="/css/katex.min.css">
<script defer src="/js/katex.min.js"></script>
<script>
	function loadKatex() {
		renderMathInElement(document.body, {
			// customised options
			// • auto-render specific keys, e.g.:
			delimiters: [
				{ left: '$$', right: '$$', display: true },
				{ left: '$', right: '$', display: false },
				{ left: '\\(', right: '\\)', display: false },
				{ left: '\\[', right: '\\]', display: true }
			],
			// • rendering keys, e.g.:
			throwOnError: false
		});
	}
</script>
<script defer src="/js/katex-auto-render.min.js" onload="loadKatex();"></script>
{% endif %}